[defaults]
inventory=/home/ansible/inventory
roles_path=/home/ansible/roles
collections_path=/home/ansible/collections
remote_user=ansible
ask_pass=false
host_key_checking=false

[privilege_escalation]
become=true
become_user=root
become_method=sudo
become_ask_pass=false
